html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
	
  margin: 0;

  background-color: #f9f9f9;

  font-family: Arial, sans-serif;
  font-size: 16px;

  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fixed-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}